[Unit]
Description=myir hmi v2.1


[Service]
Type=forking
ExecStart=/bin/sh /usr/bin/start.sh start

[Install]
WantedBy=multi-user.target
Alias=myir.service

